<head>
	<script is:inline>
		if (localStorage.getItem("theme") === null) {
			document.documentElement.setAttribute("data-theme", "lofi");
		} else
			document.documentElement.setAttribute(
				"data-theme",
				localStorage.getItem("theme")
			);
	</script>
	<script>
		import { themeChange } from "theme-change";
		themeChange();
	</script>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
	<title>MGLSJ</title>
</head>
