---
import BaseHead from "@/components/BaseHead.astro";
import "@fontsource-variable/dm-sans";
import "@/styles/global.css";
---

<html lang="en">
	<BaseHead />
	<body class="flex flex-col min-h-screen">
		<slot />
	</body>
</html>
